.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px;
  font-size: 15px;
  background-color: #011627;
  color: #fdfffc;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 3px;

  &:hover {
    background-color: #fdfffc;
    color: #011627;
    border: 1px solid #011627;
  }
}
